img {
  width: 90%;
  height: 90%;
}

.jaune {
  background-color: yellow;
  border-radius: 10px;
  padding: 5px;
}

.bleu {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px;
}
button {
  margin-top: 20px;
}

.casespe1 {
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  width: 120px;
  height: 120px;
}
.casespe2 {
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  width: 120px;
  height: 120px;
}
.casespe3 {
  border-style: solid;
  border-width: 0px 0px 2px 2px;
  width: 120px;
  height: 120px;
}
.casespe4 {
  border-style: solid;
  border-width: 2px 2px 2px 0px;
  width: 120px;
  height: 120px;
}
.casespe5 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  width: 120px;
  height: 120px;
}
.casespe6 {
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  width: 120px;
  height: 120px;
}

.casespe7 {
  border-style: solid;
  border-width: 2px 2px 0px 0px;
  width: 120px;
  height: 120px;
}
.casespe8 {
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  width: 120px;
  height: 120px;
}
.casespe9 {
  border-style: solid;
  border-width: 2px 0px 0px 2px;
  width: 120px;
  height: 120px;
}

